h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-top: 5rem;
  margin-left: auto;
  color: white;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.photoOfAidenInRecordStore {
  animation: morph 8s ease-in-out infinite;
  background-image: url('./images/photoOfAidenRecordStore.JPG');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 30rem; /* change me to your needs */
  position: relative;
  transition: all 1s ease-in-out;
  width: 37rem;
  cursor: pointer;
}

.about-container {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
  color: white;
  margin-bottom: 10rem;
  margin-top: 4rem;
}

@media only screen and (width < 600px) {
  .photoOfAidenInRecordStore {
    height: 15rem; /* change me to your needs */
    width: 15rem;
    background-position: 0%;
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
  }

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
