.project-container {
  display: flex;
  flex-direction: row;
}

.img {
  width: 35rem;
  width: 45rem;
  border: 5px solid white;
  border-radius: 1rem;
  cursor: pointer;
}

.img:hover {
  background: white;
  transition: background-color 0.6s ease;
}

.title {
  margin-left: 1rem;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.title:hover {
  color: #0088a9;
}

.flex-row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.column-mobile {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

@media only screen and (width < 620px) {
  .project-container {
    flex-direction: column;
  }

  .row {
    display: block;
  }

  .column-mobile {
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .title {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
  }
}
