/* Qualifications.css */
.qualifications-container {
  display: flex;
  position: relative; /* Add position: relative to make the .diagonal-line position correctly */
  margin-bottom: 10rem;
  flex-direction: row;
}

.Project {
  flex-basis: 50%;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: white;
  transform: translateX(-50%);
  pointer-events: none;
}

.project {
  padding: 3rem;
  flex-basis: 50%;
}

@media only screen and (width < 620px) {
  .qualifications-container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .project {
    padding: 0;
    padding-bottom: 10rem;
    flex-basis: 50%;
  }

  .pfd-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume {
    margin: 1rem 0;
  }

  .vertical-line {
    display: none;
  }
}
