.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 -0.5rem;
}

.image-container {
  width: calc(14.2857% - 1rem); /* Initially, 7 items per row */
  border: 2px solid white;
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem 2rem 0;
  margin: 0.5rem;
  text-align: center;
}

/* Responsive layout for larger screens */
@media only screen and (width < 1620px) {
  .image-container {
    flex: 0 0 calc(16.6667% - 1rem); /* 6 items per row */
  }
}

@media only screen and (width < 1495px) {
  .image-container {
    flex: 0 0 calc(20% - 1rem); /* 5 items per row */
  }
}

@media only screen and (width < 1229px) {
  .image-container {
    flex: 0 0 calc(25% - 1rem); /* 4 items per row */
  }
}

@media only screen and (width < 925px) {
  .image-container {
    flex: 0 0 calc(33.3333% - 1rem); /* 3 items per row */
  }
}

@media only screen and (width < 734px) {
  .image-container {
    flex: 0 0 calc(50% - 1rem); /* 2 items per row */
  }
}

@media only screen and (width < 500px) {
  .image-container {
    flex: 0 0 calc(50% - 1rem); /* 2 items per row */
  }
}

/* 

@media only screen and (width < 350px) {
  .image-container {
    flex: 0 0 calc(100% - 1rem); // 1 item per row 
  }
} 
*/

@media only screen and (width < 1377px) {
  h1 {
    margin-top: 55rem;
  }
}

@media only screen and (width < 950px) {
  h1 {
    margin-top: 35rem;
  }
}

.js-logo,
.ts-logo,
.react,
.python,
.cpp,
.node,
.express,
.tailwind,
.docker,
.pycharm,
.figma {
  width: 100%;
  height: auto;
  max-width: 15rem;
  max-height: 15rem;
}

.html,
.css,
.cpp,
.vim {
  width: 100%;
  height: auto;
  max-width: 12rem;
  max-height: 13rem;
}

.express-logo {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
}

.postgresql-logo,
.vue-logo {
  margin-top: 1rem;
}

.npm-logo {
  margin-top: 3rem;
}

.tailwind-logo {
  margin-top: 1.5rem;
}

.docker-logo {
  margin-top: 2rem;
}

.figma-logo {
  height: 7.7rem;
  width: 5.8rem;
}

.aws-logo {
  margin-top: 1.5rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-top: 10rem;
  margin-left: auto;
}

.image-container:hover,
.image-container:hover h2,
.image-container:hover .html-logo,
.image-container:hover .css-logo,
.image-container:hover .react-logo,
.image-container:hover .python-logo,
.image-container:hover .cpp-logo,
.image-container:hover .node-logo,
.image-container:hover .express-logo,
.image-container:hover .postgresql-logo,
.image-container:hover .git-logo,
.image-container:hover .npm-logo,
.image-container:hover .vue-logo,
.image-container:hover .docker-logo,
.image-container:hover .vs-logo,
.image-container:hover .figma-logo,
.image-container:hover .webpack-logo,
.image-container:hover .pycharm-logo,
.image-container:hover .vim-logo,
.image-container:hover .aws-logo,
.image-container:hover .tailwind-logo {
  background-color: white;
  transition: background-color 0.6s ease;
}

.image-container:hover .JsLogo,
.image-container:hover .TsLogo,
.image-container:hover .HTMLLogo,
.image-container:hover .CSSLogo,
.image-container:hover .ReactLogo,
.image-container:hover .PythonLogo,
.image-container:hover .CppLogo,
.image-container:hover .NodeLogo,
.image-container:hover .PostgreSQLLogo,
.image-container:hover .GitLogo,
.image-container:hover .ExpressLogo,
.image-container:hover .NPMLogo,
.image-container:hover .VueLogo,
.image-container:hover .DockerLogo,
.image-container:hover .VisualStudioLogo,
.image-container:hover .FigmaLogo,
.image-container:hover .WebpackLogo,
.image-container:hover .PycharmLogo,
.image-container:hover .VimLogo,
.image-container:hover .AwsLogo,
.image-container:hover .TailwindLogo {
  color: rgb(36, 37, 42);
  transition: background-color 0.6s ease;
}

@media only screen and (width < 450px) {
  .figma-logo {
    height: 4rem;
    width: 3rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
